<h1>Choose your flight</h1>

<%= form_with(url: "/flights/search", method: "get") do %>
    <%= label_tag(:departure_airport, "Departing from:") %>
    <%= select_tag(:departure_airport, options_for_select(@flight_options)) %>
    <%= label_tag(:arrival_airport, "Arriving at:") %>
    <%= select_tag(:arrival_airport, options_for_select(@flight_options)) %>
    <%= label_tag(:start_date, "From:") %>
    <%= date_field_tag(:start_date, Date.today, min: Date.today) %>
    <%= label_tag(:end_date, "Up to:") %>
    <%= date_field_tag(:end_date, Date.today, min: Date.today) %>
    <%= label_tag(:num_tickets, "Tickets") %>
    <%= select_tag(:num_tickets, options_for_select([1,2,3,4]) ) %>
    <%= submit_tag("Search") %>
  <% end %>