<%= render "form", flight_options: @flight_options %>
<h2>Flights available:</h2>
<table>
  <tr>
    <th>Select</th>
    <th>Departure </th>
    <th>Destination </th>
    <th>Date </th>
    <th>Duration </th>
  </tr>
<%if @flights%>
  <%= form_with(url:"/bookings/index", method:"get", data: {turbo: false}) do |form| %>
    
   <% @flights.each do |flight| %>
     <tr>
       <td><%= form.radio_button :flight_id, flight.id %></td>
       <td><%=flight.departure_airport.name.upcase%></td>
       <td><%=flight.arrival_airport.name.upcase%></td>
       <td><%=flight.start_formatted %></td>
       <td><%=flight.duration_formatted%></td>
     </tr>
    <% end %>
    <%= form.hidden_field :num_tickets, value: params[:num_tickets] %>
    </table>
   
    
    <%= form.submit"Book Now" %>
  <% end%>
  
      
<%end%>

