<h1>Book the flight</h1>
<table>
  <tr>
    <th>Departure</th>
    <th>Destination</th>
    <th>Date</th>
    <th>Duration</th>
  </tr>
  <tr>
    <td><%=@booking.flight.departure_airport.name.upcase%></td>
    <td><%=@booking.flight.arrival_airport.name.upcase%></td>
    <td><%=@booking.flight.start_formatted %></td>
    <td><%=@booking.flight.duration_formatted%></td>
  </tr>
</table>

<div data-controller="passenger">

<h2>Passenger details</h2> 
<a data-action="passenger#addPassenger"> ✚ </a> 
  <%= form_with model: @booking, url: "/bookings/", method: "post", data: { turbo: false } do |form| %>
    <%= form.hidden_field :flight_id, value: @booking.flight_id %>
    <div data-passenger-target="passengers">
      <% params[:num_tickets].to_i.times do %>
        <%= form.fields_for 'passengers_attributes[]', Passenger.new do |f| %>
          <div class="passenger-wrapper">
            <%= f.label :name %>
            <%= f.text_field :name %>
            <br>
            <%= f.label :email %>
            <%= f.text_field :email %>
            <a data-action="passenger#removePassenger">❌</a>

            
          </div>
        <% end %>
      <% end %>
    </div>

    <template data-passenger-target="template">
      <%= form.fields_for 'passengers_attributes[]', Passenger.new, child_index: 'NEW_RECORD' do |f| %>
        <div class="passenger-wrapper">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <br>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <a data-action="passenger#removePassenger">❌</a>

        </div>
      <% end %>
    </template>

    <br>
    <%= form.submit "Book Now" %>
  <% end %>
</div>

